{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.extra_tags }}" id="msg-{{ forloop.counter }}">
                    {{message}}

                    <button class="btn-close float-end" onclick="hideElement('msg-{{ forloop.counter }}')"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="" class="p-1">
        <h3 class="mb-3">Make a reservation:</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% endblock content %}